.header{
    background-color: purple;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}
.body{
    font-size: 1.5rem;
    padding: 10px;
}
.footer{
    padding: 10px;
    display: flex;
    justify-content: right;
}
.button{
    padding: 10px;
    border: none;
    background: purple;
    color: white;
    width: 25%;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(203, 79, 203, 0.975);
}